      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          <a href="/">Skydoc</a>
        </span>
        <nav class="drawer-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <span class="drawer-nav-title">Documentation</span>
              <ul>
                <li><a href="/docs/getting_started.html">Getting Started</a></li>
                <li><a href="/docs/writing.html">Writing Documentation</a></li>
                <li><a href="/docs/generating.html">Generating Documentation</a></li>
                <li><a href="/docs/skylark.skylark.html">Build Rule Reference</a></li>
                <li><a href="/docs/faq.html">FAQ</a></li>
              </ul>
            </li>
            <li>
              <span class="drawer-nav-title">Get Involved</span>
              <ul>
                <li><a href="/contributing.html">Contribute to Skydoc</a></li>
                <li><a href="/roadmap.html">Roadmap</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/bazel-discuss">User mailing list</a></li>
                <li><a href="https://github.com/bazelbuild/tulsi/issues">Issue tracker</a></li>
                <li><a href="https://github.com/bazelbuild/skydoc">GitHub</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
