# Prevent build failure if jdk > 21 is installed as the default system jdk
# See https://github.com/bazelbuild/stardoc/pull/263#issuecomment-2502032361
build --java_runtime_version=21

# Incompatible flags which we always want in development
build --incompatible_disable_starlark_host_transitions
build --incompatible_disallow_empty_glob
