*~
.*.swp
/.classpath
/.factorypath
/.idea/
/.ijwb/
/.project
/.settings
/WORKSPACE.user.bzl
/base_workspace/*
/bazel-stardoc
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel.iml
/output/
/production
/.sass-cache
/test/bzlmod/bazel-*
