<a name="#${providerName}"></a>

#[[##]]# ${providerName}

<pre>
${util.providerSummary($providerName, $providerInfo)}
</pre>

${providerInfo.docString}

**FIELDS**

#if (!$providerInfo.fieldInfoList.isEmpty())

| Name  | Description |
| :------------- | :------------- |
#foreach ($field in $providerInfo.fieldInfoList)
#if(!$field.docString.isEmpty())
| <a name="${providerName}-${field.name}"></a>$field.name | ${util.markdownCellFormat($field.docString)} |
#end
#end
#end
